body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    text-align: center; /* Center the content inside #main */
}

.follow {
    display: flex; /* Display h3 elements in the same line */
    justify-content: space-around; /* Distribute the h3 elements with space around them */
    
}







